body {
	background-color: #F9FCFC;
	color: #375966;
	font-family: Verdana, 'Geneva CE', lucida, sans-serif;
	font-size: .8em;
	line-height: 1.5em;
	margin: 0 1.5%;
	padding: 0;
	}
	
a {
	color: #1177AA;
}
a img {
	border: 0;
}

/* Logo - http://wellstyled.com/css-replace-text-by-image.html
----------------------------------------------- */
h1 {
	margin: 15px auto; padding: 0;
	position: relative;
	margin: 15px auto; padding: 0;
	overflow: hidden;
	}

h1 span {
	display: block;
	position: absolute; left: 0; top: 0; z-index: 1;
	margin: 0 auto; padding: 0;
	}
	
h1 a {
	cursor: pointer;
	cursor: hand;
	}

	
/* Rozvrzeni
----------------------------------------------- */	
#ostatni {
	float:right;
	width:160px;
	margin:0; padding:0;
}

#ostatni table {
	background-color: #FEF8F5;
	width: 160px;
	font-size: .8em;
	border-collapse: collapse;
}

#ostatni table td {
	border: 1px solid #cc5522;
	border-collapse: collapse;
}

#ostatni table a {

}

#preskoc {
	display: none;
}

#hlavni {
	margin: 0 180px 0 150px;
}

.cleaner {
		clear:both;
		height:1px;
		font-size:1px;
		border:none;
		margin:0; padding:0;
		background:transparent;
		}
		
#zapati {
	border-top: 1px solid #375966;
        margin-top: 15px;
	padding: 10px 0;
	text-align: center;
	font-size: .8em;
	line-height: 1.2em;
}

#zapati a {
	color: #1177AA;
	font-weight: bold;
}

/* Menu
----------------------------------------------- */	
#menu_div {
    width: 130px;
    float: left;
}

#menu {
	background-color: #FEF8F5;
	border-left: 1px solid #E07547;
	border-top: 1px solid #E07547;
	border-right: 1px solid #E07547;
	width: 130px;
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0;
	}

#menu li {
	border-bottom: 1px solid #E07547;
	}

#menu li a {
	padding: 4px 0;
	display: block;
	color: #cc5522;
	padding-left: 15px;
	font-size: .8em;
	text-decoration: none;
	font-weight: bold;
	border-right: 4px solid #e07547;
	}

#menu li a:hover {
	background-color: #CC5522;
	color: #FFF;
	border-right: 4px solid #fff;
	}


#menu li a.active,
a.active {
	background-color: #CC5522;
	color: #FFF;
	border-right: 4px solid #fff;
	}
#login {
	width: 130px;
	border: 1px solid #E07547;
	background-color: #FEF8F5;
	text-align: center;
}
#google {
	width: 130px;
	text-align: center;
}

#topmenu {
    padding-left: 10px;
    padding-right: 10px;
}
#topmenu li {
    display: inline;
    list-style-type: none;
    background-color: #FEF8F5;
    border: 1px solid #E07547;
}
#topmenu li a {
    text-decoration: none;
    color: #cc5522;
    font-size: .8em;
    font-weight: bold;
    padding: 2px;
}
#topmenu li.tp_active {
	background-color: #CC5522;
}
#topmenu li.tp_active a {
	color: #FFF;
}
#topmenu_login {
	border: 1px solid #E07547;
	background-color: #FEF8F5;
	margin-left: 10px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: .8em;
}

/* Tabulky
------------------------------------------*/
table th {
	background-color: #D7E4EA;
        border: 1px solid #375966;
        border-collapse: collapse;
}
table.table {
	background-color: #FEF8F5;
        border-collapse: collapse;
}
	
table.table td {
	border: 1px solid #cc5522;
        border-collapse: collapse;
	padding: .2em;
}
/* Formulare
------------------------------------------*/
select,textarea,input {
	border: 1px solid #000;
}

.perm_on {
	background-color: #0f0;
	color: #000;
}
/* Aktuality
------------------------------------------*/
.aktuality h3 {
    margin: 0;
    padding: 2px;
    border-bottom: 1px solid #375966;
}
.aktuality ul {
    margin: 0; padding: 1px 0 0 0;
}
.aktuality ul li {
    display: inline;
    padding: 0 .4em 0 0;
    font-size: .8em;
}
.aktuality ul li span{
    font-weight: bold;
}